<div class="wrapper">
  <app-navbar></app-navbar>
  <div class="main-panel">
    <div class="main-content">
      <div class="card">
        <div class="content-wrapper">
          <div class="container-fluid">
            <section id="BotRequests">
              <div class="row">
                <div class="col-12 mt-3 mb-1">
                  <h2 class="content-header">Grupos de la cuenta de facebook</h2>
                  <p class="content-sub-header">.</p>
                </div>
              </div>
              <div>
                <div class="row m-0">
                  <div class="col-lg-8">
                    <select (selectionchange)="setAcount()" [(ngModel)]="currentAccount" class="form-control">
                      <option [ngValue]="null">Seleccione una cuenta</option>
                      <option *ngFor="let acount of configService.accounts" [ngValue]="acount">
                        {{acount.id}} - {{acount.email}}
                      </option>
                    </select>
                  </div>
                  <div class="col-lg-4 text-right">
                    <button class="btn btn-primary" (click)="readGroups()" [disabled]="currentAccount == null">
                      Extraer grupos
                    </button>
                  </div>
                </div>
                <div class="row" *ngIf="currentAccount !== null">
                  <div *ngFor="let group of currentAccount.groups" class="col col-6">
                    <div class="row">
                      <div class="col col-4">
                        <img [src]="group.img | sanitizeUri" class="img-thumbnail">
                      </div>
                      <div class="col col-8">
                        <h5 class="text-muted">{{group.name}}</h5>
                        <p>Publicaciones: {{group.publications}}</p>
                        <p>Error al publicar?: {{group.error ? 'SI' : 'NO'}}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
