<div class="wrapper">
  <app-navbar></app-navbar>
  <div class="main-panel">
    <div class="main-content">
      <div class="card">
      <div class="content-wrapper">
        <div class="container-fluid">
          <section id="BotRequests">
            <div class="row">
              <div class="col-12 mt-3 mb-1">
                <h2 class="content-header">Configuración</h2>
                <p class="content-sub-header">.</p>
              </div>
            </div>
            <div>
              <h2 class="text-info">Licencia</h2>
              <div class="row">
                <div class="col col-4">
                  <label for="license">Clave de licencia</label>
                  <input id="license" readonly class="form-control" [(ngModel)]="license.uniqueId">
                </div>
                <div class="col col-8">
                  <label for="license_key">Codigo generado de licencia</label>
                  <input id="license_key" class="form-control" [(ngModel)]="license.licenseCode">
                </div>
                <div class="col col-12" style="padding-top: 3%">
                  <button class="btn btn-light btn-outline-success" (click)="checkLicenceCode()">Comprobar licencia
                  </button>
                </div>
              </div>
              <hr>
              <h3 class="text-warning">Configurar una cuenta de facebook</h3>
              <div class="form-group">
                <label for="email">Email</label>
                <input class="form-control" id="email" [(ngModel)]="configService.account.email">
              </div>
              <div class="form-group">
                <label for="pass">Contraseña</label>
                <input class="form-control" id="pass" [(ngModel)]="configService.account.password">
              </div>
              <div class="form-group">
                Cuenta probada
              </div>
              <div>
                <button class="btn btn-primary" (click)="saveAndTestAccount()">Guardar y Probar</button>
              </div>
              <div>
                <table class="table table-bordered table-striped">
                  <tr>
                    <th>
                      Correo/Celular
                    </th>
                    <th>
                      Contraseña
                    </th>
                    <th>
                      grupos
                    </th>
                    <th>
                      Quitar
                    </th>
                  </tr>
                  <tr *ngFor="let account of configService.accounts; let i = index">
                    <td>{{account.email}}</td>
                    <td>{{account.password}}</td>
                    <td>{{account.groups.length}}</td>
                    <td>
                      <button class="btn btn-danger btn-sm" (click)="removeAccount(i)">Quitar</button>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </section>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
