<div class="wrapper">
  <app-navbar></app-navbar>
  <div class="main-panel">
    <div class="main-content">
      <div class="card">
        <div class="content-wrapper">
          <div class="container-fluid">
            <section id="BotRequests">
              <div class="row">
                <div class="col-12 mt-3 mb-1">
                  <h2 class="content-header">Publicación</h2>
                </div>
              </div>
              <div>
                <div class="form-group">
                  <div class="row">
                    <div class="col col-8">
                      <div class="form-group">
                        <select class="form-control" [(ngModel)]="currentAccount">
                          <option [ngValue]="null">
                            Seleccione una cuenta
                          </option>
                          <option *ngFor="let account of configService.accounts" [ngValue]="account">
                            {{account.id}} - {{account.email}}
                          </option>
                        </select>
                      </div>
                      <div>
                        <label>Texto de la publicación</label>
                        <textarea id="texto" [(ngModel)]="publicationService.publication.text" class="form-control"
                                  rows="8"></textarea>
                        <hr>
                        <div *ngIf="currentAccount != null">
                          <label>Seleccione los grupos a publicar</label>
                          <angular2-multiselect [data]="currentAccount.groups"
                                                [(ngModel)]="currentAccount.selectedGroups"
                                                [settings]="dropdownSettings">
                          </angular2-multiselect>
                        </div>
                        <label for="texto">Seleccione las imagenes a usar</label>
                        <button class="btn btn-block btn-success" (click)="addPhotos()">Agregar imagenes</button>
                        <div class="row">
                          <div class="col col-3" *ngFor="let img of publicationService.publication.imgs; let i = index">
                            <button class="btn btn-dark btn-sm remove-img" (click)="removeImg(i)">X</button>
                            <img [src]="img | sanitizeUri" class="img-thumbnail">
                          </div>
                        </div>
                        <div>
                          <button class="btn btn-outline-success btn-block" (click)="savePublicacion()">
                            Guardar
                            Publicación
                          </button>
                        </div>
                      </div>
                      <div *ngIf="currentAccount == null">
                        <div class="alert alert-info">
                          <h3>
                            Seleccione una cuenta para continuar
                          </h3>
                        </div>
                      </div>
                    </div>
                    <div class="col col-4">
                      <emoji-mart [style]="{width: '100% !important'}" [emojiSize]="20" (emojiClick)="addEmoji($event)" [i18n]="i18n"></emoji-mart>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
