<div data-active-color="white" data-background-color="black"
     class="app-sidebar">
  <div class="sidebar-header">
    <div class="logo clearfix">
      <div class="logo-text float-left">
        <span class="text align-middle">FacebookBot</span></div>
      <a id="sidebarToggle"
         class="nav-toggle d-none d-sm-none d-md-none d-lg-block"><i
        data-toggle="expanded" class="ft-disc toggle-icon"></i></a>
      <a id="sidebarClose" class="nav-close d-block d-md-block d-lg-none d-xl-none"><i class="ft-circle"></i></a>
    </div>
  </div>
  <div class="sidebar-content">
    <div class="nav-container">
      <ul id="main-menu-navigation" data-menu="menu-navigation" class="navigation navigation-main">
        <li class="nav-item" routerLinkActive="active"><a
          routerLink="/dashboard"><i class="icon-home"></i><span
          data-i18n="" class="menu-title">Publicación</span></a>
        </li>
        <li class="nav-item" routerLinkActive="active"><a
          routerLink="/groups"><i class="icon-home"></i><span
          data-i18n="" class="menu-title">Grupos</span></a>
        </li>
        <li class="nav-item" routerLinkActive="active"><a
          routerLink="/config"><i
          class="icon-screen-desktop"></i><span data-i18n="" class="menu-title">Configuración</span></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="sidebar-background"></div>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-faded">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" data-toggle="collapse" class="navbar-toggle d-lg-none float-left"><span class="sr-only">Toggle navigation</span><span
        class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
      <span class="d-lg-none navbar-right navbar-collapse-toggle"><a class="open-navbar-container"><i
        class="ft-more-vertical"></i></a></span>
    </div>
    <div class="navbar-container">
      <select class="form-control mr-2" [(ngModel)]="currentAccount">
        <option [ngValue]="null">
          Seleccione una cuenta
        </option>
        <option *ngFor="let account of configService.accounts" [ngValue]="account">
          {{account.id}} - {{account.email}}
        </option>
      </select>
      <button *ngIf="currentAccount != null" class="btn btn-dark" (click)="initBot()">Iniciar publicaciones
        ({{currentAccount.selectedGroups.length}}
        Grupos)
      </button>
    </div>
  </div>
</nav>
